@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";

    @Scripts.Render("~/bundles/js_GuestActivity")
    <script id='jsonData' type='text/data'>
        @Html.Raw(@ViewBag.data)
    </script>
}


<style>
    .rsvpContact {
        color: #1d1d1d;
    }
</style>
<header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div style="height:100px"></div>
                    <div class="display-tc animate-box" data-animate-effect="fadeIn" style="display:block !important">
                        <h1>Activity Interest</h1>
                        <br />
                        <div class="row">
                            <p>NOTE: This list is just to track interest. If interest level is too low, the activity might fall away.</p>
                        </div>
                        <div id="dvLoadActivity">
                            @*<div class="row rsvpContact">
                                <div class="col-lg-6" style="text-align:right; font-size:18pt">Ame Dorfling</div>
                                <div class="col-lg-6">
                                    <a href="/Guest/WeddingInfo" class="btn btn-default btn-sm" style="background-color:#279a01 !important; color:#fff !important; font-weight:bold">Interested</a>
                                </div>
                            </div>
                            <div class="row rsvpContact">
                                <div class="col-lg-6" style="text-align:right; font-size:18pt">Stefan Bezuidenhoudt</div>
                                <div class="col-lg-6">
                                    <a href="/Guest/WeddingInfo" class="btn btn-default btn-sm" style="background-color:#279a01 !important; color:#fff !important; font-weight:bold">Interested</a>
                                </div>
                            </div>*@
                        </div>

                        <br /><br />

                        @*<div class="row">
                                <label class="col-md-4 col-xs-4" style="text-align:right"></label><input class="col-md-4 col-xs-4" type="password" placeholder="New Password" />
                            </div>
                            <br />
                            <div class="row">
                                <label class="col-md-4 col-xs-4" style="text-align:right"></label><input class="col-md-4 col-xs-4" type="password" placeholder="Confirm New Password" />
                            </div>
                            <br />
                            <p><a href="/Guest/WeddingInfo" class="btn btn-default btn-sm" style="background-color:#eea91d !important; color:#fff !important; font-weight:bold">Save New Password</a></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

