@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}
<header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div style="height:100px"></div>
                    <div class="display-tc animate-box" data-animate-effect="fadeIn" style="display:block !important">
                        <h1>Contact</h1>

                        <div class="row">
                            @*<div class="col-md-3"></div>*@
                            <div class="col-md-12">
                                <p style="font-size:18pt">Melanie<br /><text style="font-size:20px">0846273015</text></p>
                            </div>
                            
                            @*<div class="col-md-3"></div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:18pt">Leanne (Bride's mother)<br /><text style="font-size:20px">0842082340</text></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


