@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    @Scripts.Render("~/bundles/js_GuestResetPassword")
}
<header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div style="height:100px"></div>
                    <div class="display-tc animate-box" data-animate-effect="fadeIn" style="display:block !important">
                        <h1>Reset Password</h1>
                        <div class="row">
                            <label class="col-md-4 col-xs-4" style="text-align:right"></label><input id="txtOldPassword" class="col-md-4 col-xs-4" type="password" placeholder="Old Password" />
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-4 col-xs-4" style="text-align:right"></label><input id="txtNewPassword" class="col-md-4 col-xs-4" type="password" placeholder="New Password" />
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-4 col-xs-4" style="text-align:right"></label><input id="txtConfirmNewPassword" class="col-md-4 col-xs-4" type="password" placeholder="Confirm New Password" />
                        </div>
                        <br />
                        <div class="text-success text-center">
                            <label id="lblSuccess"></label>
                        </div>
                        <div class="text-danger text-center">
                            <label id="lblError"></label>
                        </div>
                        <p><a onclick="SaveNewPassword()" class="btn btn-default btn-sm" style="background-color:#dedede !important; color:#000 !important; border:solid 1px !important">Save New Password</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

