@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}
<style>
    th{
        color:#383838 !important;
        text-align:center;
    }
    td{
        color:#212121 !important;
    }
</style>
<header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row" style="margin-right:0px">
            <div class="col-md-12 text-center">
                <div class="display-t">
                    <div style="height:100px"></div>
                    <div class="display-tc animate-box" data-animate-effect="fadeIn" style="display:block !important">
                        <h1>Wedding Info</h1>
                        <br />
                        <p style="font-size:18pt; margin-bottom:0px">Friends and Family are invited to join </p>
                        <h1 style="font-size:26pt">Rory &amp; Melanie</h1>
                        <p style="font-size:18pt">start their life adventure<br /> at Profcon Resort<br /> Friday, 23 March 2018 16:00 to Sunday 25 March 10:00</p>
                        @*<div class="row">
                                <label class="col-md-4 col-xs-4" style="text-align:right"></label><input class="col-md-4 col-xs-4" type="text" placeholder="Email" />
                            </div>
                            <br />
                            <div class="row">
                                <label class="col-md-4 col-xs-4" style="text-align:right"></label><input class="col-md-4 col-xs-4" type="password" placeholder="Password" />
                            </div>
                            <br />
                            <p><a href="/Guest/WeddingInfo" class="btn btn-default btn-sm" style="background-color:#eea91d !important; color:#fff !important; font-weight:bold">Login</a></p>*@
                        <br />
                        <hr style="border-top: 1px solid #8a8a8a !important; width: 50%;" />
                        <br />
                        <h1 style="font-size:40pt">Wedding Location</h1>
                        <div style="height:500px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2125.6152542500017!2d24.53087106613867!3d-32.25259848648177!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e7d93314fe4d10f%3A0xd1f9c034fce60515!2sProfcon+Resort!5e0!3m2!1sen!2sza!4v1513527794906" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <hr style="border-top: 1px solid #8a8a8a !important; width: 50%;" />
                        <br />
                        <h1 style="font-size:40pt">Weekend Program</h1>
                        <div class="row" style="margin-right:0px">
                            <div class="col-lg-1"></div>
                            <table class="col-lg-10" border="1" style="background: rgba(255,255,255,0.6);">
                                <tr>
                                    <th>Activity</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                </tr>
                                <tr>
                                    <td>Sundowners on Arrival</td>
                                    <td>Fri 23 March</td>
                                    <td>16:00</td>
                                </tr>
                                <tr>
                                    <td>Kitchen tea for Ladies</td>
                                    <td>Fri 23 March</td>
                                    <td>18:00</td>
                                </tr>
                                <tr>
                                    <td>Boma Braai</td>
                                    <td>Fri 23 March</td>
                                    <td>19:00</td>
                                </tr>                                
                                <tr>
                                    <td>Breakfast</td>
                                    <td>Sat 24 March</td>
                                    <td>08:00 - 09:00</td>
                                </tr>
                                <tr>
                                    <td>Clay Pidgeon Shooting</td>
                                    <td>Sat 24 March</td>
                                    <td>09:00</td>
                                </tr>
                                <tr>
                                    <td>Guests can collect light lunch</td>
                                    <td>Sat 24 March</td>
                                    <td>12:00 - 13:00</td>
                                </tr>
                                <tr>
                                    <td>Wedding Ceremony</td>
                                    <td>Sat 24 March</td>
                                    <td>16:00</td>
                                </tr>
                                <tr>
                                    <td>Wedding Reception</td>
                                    <td>Sat 24 March</td>
                                    <td>18:00</td>
                                </tr>
                                @*<tr>
                                    <td>Game Drive OR Hot Air Balloon Trip</td>
                                    <td>25 March</td>
                                    <td>Game Drive 06:00 OR Air Balloon 04:30</td>
                                </tr>*@
                                <tr>
                                    <td>Breakfast and Closure</td>
                                    <td>Sun 25 March</td>
                                    <td>08:00 - 10:00</td>
                                </tr>

                            </table>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <hr style="border-top: 1px solid #8a8a8a !important; width: 50%;" />
                        @*<br />
                        <h1 style="font-size:40pt">Wedding Location</h1>
                        <div style="height:650px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2125.6152542500017!2d24.53087106613867!3d-32.25259848648177!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e7d93314fe4d10f%3A0xd1f9c034fce60515!2sProfcon+Resort!5e0!3m2!1sen!2sza!4v1513527794906" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <hr style="border-top: 1px solid #8a8a8a !important; width: 50%;" />*@
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
